@media (max-width:1500px) {
    .header{
        background-color: rgb(138, 198, 247);
    }

    .header h1{
        font-size: 42px;
        font-weight:bold;
        font-style: oblique;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .header img {
        width: 80px;
        margin: 10px;
    }

    .main-container{
        width: 100%;
        height: 1160px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .container-products{
        width: 90%;
        height: 650px;
        margin: 25px;
        padding: 6px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        justify-content: space-around;
    }
    .producto h1{
        font-size:54px;
        margin: 30px;
        color: rgba(9, 155, 245, 0.795);
    }

    .card{
        background-color: rgba(49, 143, 184, 0.662);
    }

    .form-titulo{
        margin: 24px;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:bold;
        color:rgb(16, 98, 220) ;
    }
    .texto{
        width: 300px;
        border: solid 4px rgb(4, 99, 136);
        border-radius: 40px;
        margin: 10px;
        text-align: center;
    
    }
    .footer-container{
        margin: 120px 0px 0px 0px;
        background-color: rgba(86, 174, 246, 0.817);
        color: #FFFFFF;
        font-size: 28px;
        font-weight: bold;
    }

    .botones{
        padding: 6px;
        margin: 16px;
        width: 200px;
        border: solid 4px #22d3d37e;
        border-radius: 20px;
    }
}